@font-face {
    font-family: 'icomoon';
    src:    url('fonts/icomoon.eot?6x26xw');
    src:    url('fonts/icomoon.eot?6x26xw#iefix') format('embedded-opentype'),
        url('fonts/icomoon.ttf?6x26xw') format('truetype'),
        url('fonts/icomoon.woff?6x26xw') format('woff'),
        url('fonts/icomoon.svg?6x26xw#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-cross-modal:before {
    content: "\e90f";
}
.icon-arrow-down:before {
    content: "\e910";
}
.icon-uso:before {
    content: "\e900";
}
.icon-unselected:before {
    content: "\e901";
}
.icon-selected:before {
    content: "\e902";
}
.icon-secado:before {
    content: "\e903";
}
.icon-resistencia:before {
    content: "\e904";
}
.icon-rendimiento:before {
    content: "\e905";
}
.icon-productos:before {
    content: "\e906";
}
.icon-presentacion:before {
    content: "\e907";
}
.icon-menu:before {
    content: "\e908";
}
.icon-inspiracion:before {
    content: "\e909";
}
.icon-entonadores:before {
    content: "\e90a";
}
.icon-consejo:before {
    content: "\e90b";
}
.icon-calculadora:before {
    content: "\e90c";
}
.icon-arrow-right:before {
    content: "\e90d";
}
.icon-arrow-left:before {
    content: "\e90e";
}

