<div class="advice-modal-content">
  <h3 class="modal-content-title">Mantenimiento</h3>

  <div class="modal-content-paragraph">
    <i class="fa fa-exclamation-circle" aria-hidden="true"></i> Si bien las pinturas secan rápido,  tomará aproximadamente una semana para que sequen totalmente. Por ello, <b>las superficies pintadas no deben ser lavadas antes del citado tiempo</b>. Se recomienda dejar pasar 3 semanas de concluido el trabajo.
  </div>

  <div class="modal-content-paragraph">
    Para limpiar las paredes y los techos de toda suciedad, marcas de desgaste, polvo, etc. deberá seguir  los siguientes tres pasos:
  </div>

  <ul class="advice-modal-list">
    <li class="advice-modal-list-item">
      1. Nunca emplee sustancias abrasivas, tales como preparados cáusticos, ya que pueden pulir la superficie. Además, no utilice cepillos duros.
    </li>

    <li class="advice-modal-list-item">
      2. Utilice una solución de agua tibia limpia con detergente mediante un paño suave. En caso de que la mancha resulte difícil de limpiar, emplee un cepillo de cerdas suaves.
    </li>

    <li class="advice-modal-list-item">
      3. Finalmente, enjuague el área limpiada y deje secar.
    </li>
  </ul>
</div>
