<div class="advice-modal-content">
  <h3 class="modal-content-title">Herramientas</h3>

  <div class="modal-content-section">
    <h4 class="modal-content-subtitle">* Rodillos</h4>
    <div class="modal-content-paragraph">
      <ul class="modal-content-tools-list">
        <li class="modal-content-tools-list-item">
          - Rodillos de pelo corto: son mejores para las pinturas a base solvente. Resultan ideales para pinturas brillantes o para pintar sobre superficies lisas.
        </li>
        <li class="modal-content-tools-list-item">
          - Rodillo de pelo mediano: se utilizan para pinturas a base de agua. 
        </li>
        <li class="modal-content-tools-list-item">
          - Rodillos de pelo largo: son ideales para superficies rugosas o con textura. Se utiliza para aplicar revestimientos.
        </li>
      </ul>
    </div>
    <div class="modal-content-paragraph">
      <div class="advice-modal-content-text">
        ¿Qué tamaño de rodillos es mejor?:
      </div>
      <ul class="modal-content-tools-list">
        <li class="modal-content-tools-list-item">
          - 230 - 270 mm para las paredes, techos, suelos y caminos.
        </li>
        <li class="modal-content-tools-list-item">
          - 30 - 180 mm para grandes armarios, puertas y muebles
        </li>
        <li class="modal-content-tools-list-item">
          - 80 - 130 mm para los adornos, pequeñas superficies, hierro forjado y marcos.
        </li>
      </ul>
    </div>
    <div class="modal-content-paragraph">
      <div class="advice-modal-content-text">
        Preparación de rodillos:
      </div>
      <ul class="modal-content-tools-list">
        <li class="modal-content-tools-list-item">
          - Para pinturas base agua girar el rodillo para eliminar el polvo. Luego enjuagar con agua para eliminar las fibras sueltas. 
        </li>
        <li class="modal-content-tools-list-item">
          - Para pinturas base solvente enjuagar el rodillo en aguarrás mineral, girar y dejar secar. 
        </li>
      </ul>
    </div>
  </div>

  <div class="modal-content-section">
    <h4 class="modal-content-subtitle">* Pinceles</h4>
    <div class="modal-content-paragraph">
      <div class="advice-modal-content-text">
        ¿Como elegir el tamaño correcto de pincel?:
      </div>
      <ul class="modal-content-tools-list">
        <li class="modal-content-tools-list-item">
          - Pinceles de 100 mm o más ancho: son ideales para grandes superficies tales como paredes, techos, suelos, chimeneas, tejas, embarcaciones y piscinas. Este tipo de pinceles pueden cargar una gran cantidad de pintura, por lo que probablemente resulten ser pesados para un usuario inexperto.
        </li>
        <li class="modal-content-tools-list-item">
          - Pinceles de 65 - 75 mm: son adecuados para medianas y grandes áreas como armarios, suelos, escaleras,  puertas, zócalos, grandes tuberías, vallas y mobiliario de exterior.
        </li>
        <li class="modal-content-tools-list-item">
          - Pinceles de 38 - 50mm: son los mejores para trabajos pequeños a medianos tales como puertas, mesas, armarios, muebles, pequeños paneles, marcos de ventanas, molduras, persianas, pergolas y herramientas de jardinería.
        </li>
        <li class="modal-content-tools-list-item">
          - Pinceles de 12 - 25 mm: son ideales para muy pequeños trabajos, donde resulta difícil llegar a las áreas a pintar. Asimismo, son buenos para juguetes, sillas, etc.
        </li>
      </ul>
    </div>
  </div>

  <div class="modal-content-section">
    <h4 class="modal-content-subtitle">* Lijas</h4>
    <div class="modal-content-paragraph">
      <ul class="modal-content-tools-list">
        <li class="modal-content-tools-list-item">
          - Grano Fino: se utilizan para lijar paredes con enduido, paredes ya pintadas o maderas sin pintar.
        </li>
        <li class="modal-content-tools-list-item">
          - Grano Mediano: se emplean para emparejar maderas ya pintadas.
        </li>
        <li class="modal-content-tools-list-item">
          - Grano Grueso: se utilizan para lijar hierros y metales.
        </li>
      </ul>
    </div>
  </div>
</div>
