<div class="advice-modal-content">
  <h3 class="modal-content-title">Preparación de superficies sin pintar</h3>

  <div class="advice-modal-content-section">
    <div class="modal-content-paragraph">
      <h4 class="modal-content-subtitle"><i class="fa fa-tint" aria-hidden="true"></i>  Paredes</h4>
      <div class="advice-modal-content-text">
        Asegúrese que la pared no presente rastros de humedad. La superficie debe estar libre de polvo, grasitud o suciedad. Aplique una capa de Fijador Sellador Concentrado Prima Facie°. Deje secar. Rellene las imperfecciones con Enduido Plástico al Agua Prima Facie° y luego lije. Finalmente, pinte nuevamente una capa de Fijador Sellador Concentrado Prima Facie° para asegurar la correcta adherencia de la pintura a aplicar.
      </div>
    </div>

    <div class="modal-content-paragraph">
      <h4 class="modal-content-subtitle"><i class="fa fa-tint" aria-hidden="true"></i>  Hierro y Acero</h4>
      <div class="advice-modal-content-text">
          La superficie debe ser limpiada con aguarrás mineral. Todo oxido suelto se puede quitar con un cepillo de alambre.
      </div>
    </div>

    <div class="modal-content-paragraph">
      <h4 class="modal-content-subtitle"><i class="fa fa-tint" aria-hidden="true"></i>  Madera interior/exterior</h4>
      <div class="advice-modal-content-text">
        Lije la superficie. Luego lave la madera de todo polvo o suciedad. Todo agujero en la madera debe ser no solo lijado sino rellenado con masilla para madera.
      </div>
    </div>

    <div class="modal-content-paragraph">
      <h4 class="modal-content-subtitle"><i class="fa fa-tint" aria-hidden="true"></i>  Acero Galvanizado y Zincalum</h4>
      <div class="advice-modal-content-text">
          Los metales deben ser limpiados a fondo con aguarrás mineral. Toda estructura de acero galvanizado (tubos, vigas, pasamanos, etc.) debe ser lijada para eliminar las contaminaciones de la superficie y así asegurar la adhesión de las pinturas. En caso de que la pintura no la incluya, aplicar un fondo mordiente.
      </div>
    </div>

    <div class="modal-content-paragraph">
      <h4 class="modal-content-subtitle"><i class="fa fa-tint" aria-hidden="true"></i>  Ladrillos</h4>
      <div class="advice-modal-content-text">
        Elimine toda suciedad en seco utilizando un cepillo hacia abajo. Rellene los agujeros y grietas con un relleno adecuado. Lave la superficie si es necesario con una solución de agua y detergente. Enjuague con agua y deje secar.
      </div>
    </div>

    <div class="modal-content-paragraph">
      <h4 class="modal-content-subtitle"><i class="fa fa-tint" aria-hidden="true"></i>  Hormigón/Concreto</h4>
      <div class="advice-modal-content-text">
        Antes de pintar, asegúrese que el hormigón/concreto se encuentra curado y seco. El hormigón nuevo puede estar mojado bajo la superficie, y esta humedad más tarde provocara la formación de ampollas y descascaramiento de recubrimientos. El transcurso del tiempo es un tratamiento de superficie indispensable para el hormigón. El hormigón debe dejarse secar durante al menos 4 semanas. Rellene todos los agujeros no deseados con Enduido Plástico al Agua Prima Facie°. En caso de ser necesario lave con una solución de agua y detergente para lograr una superficie limpia antes de pintar.
      </div>
    </div>

    <div class="modal-content-paragraph">
      <h4 class="modal-content-subtitle"><i class="fa fa-tint" aria-hidden="true"></i>  Cemento Render</h4>
      <div class="advice-modal-content-text">
        Las superficies deben ser curadas y secadas antes de aplicar la pintura, por lo menos 6 semanas para pinturas  base solvente y 4 semanas para las pinturas base agua.
      </div>
    </div>
  </div>
</div>
