<div class="contact-modal-content">
  <style>
  .icon-arrow-left, .icon-arrow-right {display: none;}
  </style>
  <h3 class="modal-content-title">Escribinos tu consulta</h3>

  <div class="contact-modal-content-section wapi-form-wrapper" data-form-name="contact">
    <form class="wapi-form">
      <div class="group">
        <input type="text" name="email" required>
        <span class="highlight"></span>
        <span class="bar"></span>
        <label>Tu email</label>
      </div>
      <div class="group">
        <input type="text" name="message" required>
        <span class="highlight"></span>
        <span class="bar"></span>
        <label>Mensaje</label>
      </div>
          <button class="liter-calculator-button">Enviar tu consulta</button>
      </form>

      <div class="wapi-form-done">
          Gracias por tu consulta. Nos comunicaremos con vos lo antes posible.
      </div>
      <div class="wapi-form-fail">
          Algo salió mal. Por favor vuelve a intentarlo.
      </div>





  </div>
  <div class="imagen-contacto"></div>

  <script type="text/javascript" src="http://waaws-api.herokuapp.com/cibel/browser.js"></script>
</div>
