<div class="inpiration-modal-content">
  <div class="modal-content-title">¿Cómo nos afectan los colores?</div>
</div>


El color no solo es la impresión  que nuestros ojos perciben por la luz, en otras palabras lo que miramos, sino que además influye en lo que sentimos. Así,  a partir de la Psicología del Color y la Cromoterapia, se ha buscado identificar los efectos de los colores sobre nosotros.
Descubramos…

-AZUL:
El Azul es el color con mayor cantidad de simpatizantes. Tal vez esto se deba a que coincide con una constante en nuestras vidas, es decir el cielo. Por ello, se considera el color divino, el espiritual; aquel que revela todo aquello que permanecerá eternamente. 
Refleja confianza, armonía, simpatía y paz. Ideal para dormitorios donde se busca encontrar calma, serenidad y descanso. El frio se manifiesta por medio del Azul, por ello en ambientes cálidos se utiliza con el fin de obtener una sensación de frescor.
-¿Que sentimiento nos genera?:
-Tranquilidad
-Frescor/ Frescura

-ROJO:
El Rojo es el color de las pasiones, tanto las positivas como las negativas. Así, amor y odio confluyen en un mismo color. 
Manifiesta lo extrovertido; es decir aquello que no puede quedar en segundo plano.  Resulta excelente para decorar espacios con alegría, energía y calor. Constituye un estímulo para el desarrollo de actividades.

-¿Que sentimiento nos genera?:
-Energía
-Alegría
-Calidez

-Amarillo:
El amarillo es el color del optimismo. Posiblemente ello se deba a que concuerda con el Sol, un elemento de constante de energía y animo en nuestras vidas. Manifiesta diversión, energía e iluminación mental.  Asimismo, constituye un color llamativo y espontaneo.

-¿Que sentimiento nos genera?:
-Animo
-Diversión
-Energía

-Verde:
El color de la naturaleza. De todo aquello que resulta saludable, natural, es decir de la vida misma. Refleja seguridad, neutralidad, tolerancia y esperanza. Brinda tranquilidad y armonía en los ambientes. 
-¿Que sentimiento nos genera?:
-Calma
-Armonía
-Esperanza



-Negro:
El color de la elegancia, lo formal; aquello que transmite seguridad. Resulta un color clásico para la ropa ya que destaca  el rostro -centro de la individualidad personal- de quien lo viste. Puede utilizarse  para destacar detalles dentro o fuera de una casa. Asimismo, en un ambiente claro, los muebles negros dominan el espacio aparentando ser más duros y pesados.

-¿Que sentimiento nos genera?:
-Elegancia
-Estrechez

-Blanco:
El color más perfecto, el de la verdad; aquel que no presenta connotaciones negativas. Sugiere limpieza e inocencia. Resulta el color preferido para los interiores, ya que junto a la luz genera una excelente iluminación,  agrandando los ambientes. Ideal para ser decorado con muebles y objetos de colores, permite un espacio para la creación y la espontaneidad. Inspira ligereza, es decir aquello que se encuentra vacío; por ello generalmente la ropa veraniega es clara.
-¿Que sentimiento nos genera?:
-Limpieza
-Tranquilidad
-Ligereza

-Naranja:
El naranja es el color de la diversión, la alegría; es decir todo aquello que constituya lo sociable. 
Resulta un color llamativo, exótico y veraniego. Al generar iluminación y calidez,  crea un clima agradable en los espacios habitados. 
-¿Que sentimiento nos genera?:
-Alegría
-Diversión
-Calidez
-Sociabilidad

-Violeta:
El violeta es producto de la mezcla del azul y el rojo, es decir de la calma y la energía, lo frio y lo cálido; es decir en él se funden todos los opuestos, por ello genera sentimientos ambivalentes. Simboliza la fantasía, la magia;  el hacer posible lo imposible. 

-¿Que sentimiento nos genera?:
-Fantasía
-Espiritualidad
-Ilusión

-Rosa:
El Rosa resulta de la mezcla del rojo y el blanco, goza de un carácter propio y genera sentimientos positivos. Al coincidir con el nombre de una flor, se le atribuyen sus correspondientes cualidades. Así, se destacan la sensibilidad, la cortesía y el encanto. No resulta un color asociado a la fuerza, sino que todo lo contrario, se encuentra ligado a la delicadeza. 
-¿Que sentimiento nos genera?:
-Encanto
-Cortesía
-Sensibilidad



-Marrón:
El marrón se caracteriza por consistir en una entremezcla resultante de la combinación de múltiples posibilidades de colores. Así,  las mezcla de rojo y verde; violeta y amarillo; azul y naranja; rojo, amarillo y azul; etc;  dan marrón. Esta característica genera que el marrón armonice  con todos los colores. Representa lo natural, ya que coincide tanto con el color de la tierra y como con  importantes materiales naturales rústicos (madera, cuero y lana);  por lo que resulta ideal para decorar las viviendas en donde se busque percibir comodidad y conexión con la naturaleza.

-¿Que sentimiento nos genera?:
-Comodidad
-Estabilidad

-Gris:
El gris constituye un color sin fuerza, por ello simboliza lo neutro.  Esta neutralidad permite que pueda ser combinado con otros colores. Así, al combinarse con el azul y el blanco, inspira reflexión.
-¿Que sentimiento nos genera?:
-Reflexión
-Ciencia
