<div class="inpiration-modal-content">
  <div class="modal-content-title">¿Cómo elegir los colores para tu casa?</div>
</div>


Los colores reflejan tu personalidad, tu estado de ánimo, tus sentimientos... La elección incorrecta 

del color hará que tu casa pierda calidez y que no se destaquen sus rasgos distintivos. Sin 

embargo, si elegís correctamente los colores, podrás destacar tu casa, distinguir su arquitectura e 

incluso ocultar los defectos estructurales que puedan llegar  existir. Así, impulsaras el atractivo de 

tu inmueble y por consiguiente el valor de mercado.

 A continuación te brindamos algunas sugerencias para elegir los colores adecuados:

-Inspirarse con la Naturaleza

El paisaje alrededor de tu casa te puede brindar ideas de qué color elegir. Por ejemplo, los árboles 

pueden sugerir  una gama de colores verdes y marrones; la playa podría invitar a azules intensos, 

turquesas y colores coral. Incluso el jardín de tu patio delantero puede inspirar combinaciones 

-Los colores de las casas de tus vecinos 

La casa de tus vecinos puede orientarte acerca de que colores elegir. No resulta necesario copiar 

exactamente la casa de tu vecino. Lo que te aconsejamos es seleccionar colores que destaquen tu 

casa, pero sin chocar con los edificios cercanos.

¿De qué color es tu techo? El color que elijas para tu casa no tiene por qué coincidir con el techo, 

pero debe armonizar.

-Luz para agrandar el tamaño de tu casa

Los colores claros hacen que tu casa se vea más grande. Así, podes “agrandar” el tamaño  de la 

misma, utilizando el blanco o colores pasteles.

-Colores oscuros para destacar detalles

Los colores oscuros/intensos  harán que tu casa parezca más pequeña, pero atraerán más atención 

-Los colores del interior de tu casa

Resulta impensado pintar todo el exterior  de una casa en base al color de algún mueble dentro de 

la misma. Sin embargo este enfoque no resulta alocado,  ya que el color de tus muebles servirá de 

guía para los colores interiores y a su vez los colores interiores inspiraran los que se puedan utilizar 

en el exterior. Armonizar, esa es la clave.

-Cantidad de colores

Al pintar tu casa, podes seleccionar entre 1, 2, 3 o hasta 5 colores -dependerá esencialmente del 

tamaño y características de la misma-. Pintar las paredes de un color, y las persianas, puertas, 

marcos de ventana, etc, de otro. Sin embargo, toma en consideración, que muchos colores 

pueden abrumarte visualmente, mientras que muy pocos pueden hacer que la casa no se 

destaque. Buscar el equilibrio.

-Familias de colores

El contraste de colores llamará la atención de los detalles arquitectónicos de tu casa. Sin embargo, 

si existen contrastes extremos, los mismos se enfrentarán en detrimento de los detalles a 

destacar. Por ello,  es recomendable que consideres la selección de colores dentro de una sola 

familia, variando entre tonos más oscuros y tonos más claros.