@import 'colors.less';
@import 'blocks.less';
@import 'images.less';
@import 'blocks.less';

.header {
  background-color: @c_yellow_03;
  position: fixed;
  width: 100%;
  z-index: 1;
}

.header-wrapper {
  display: flex;
  justify-content: center;
  max-height: 56px;
}

.header-logo {
  background-image: @logo-header;
  flex-grow: 0;
  flex-shrink: 0;
  height: 50px;
  margin: 2px 24px;
  width: 85px;
  background-size: 100%;
}

.navbar {
  display: flex;
  justify-content: space-between;
  margin: 0;
  max-width: @viewport_width;
  padding: 0;
  width: 100%;

  @media @small-screen {
    display: none;
  }
}

.main-nav {
  display: flex;
  flex-grow: 1;
  max-width: 800px;
}

.main-nav-menu {
  display: flex;
  justify-content: space-between;
  margin: 0 36px;
  width: 100%;

  .menu-item {
    display: inline-flex;
    align-items: center;
    font-size: 14px;
    line-height: 22px;
    text-transform: uppercase;
    transition: 0.5s;

    &.dropdown {
      &:hover {
        .dropdown-menu {
          display: block;
        }
      }

      .dropdown-menu {
        padding: 0;
        text-transform: none;

        li {
          a {
            line-height: 34px;
            
            &:hover {
              background-color: @c_blue_01;
              color: @c_white;
            }
          }
        }
      }
    }

    .icon-arrow-down {
      font-size: 8px;
      margin-left: 6px;
    }
  }
}

.nav-button {
  line-height: 50px;

  &:hover {
    color: @c_orange_01;
  }
}
