<div class="product-section-content">
  <div class="main-section-header">
    <div class="layout">
      <div class="product-section-header-wrapper">
        <h2 class="product-section-header-title">{{ category }}</h2>
        <div class="product-section-header-logo"></div>
      </div>
    </div>
  </div>

  <div class="main-section-content">
    <div class="layout">
      <div class="product-index-section-content">
        <h4 class="product-index-section-content-title">Encontrá todo lo que necesitas.</h4>

        <div class="product-list-wrapper">
          {{ entries }}
        </div>
      </div>
    </div>
  </div>
</div>
